// Color variables
$common-bg : #fcfcfc;
$navbar-bg : #105cb0;
$active-menu : #004389;
$white-color: #ffffff;
$active-menu-border: #fff;

$common-blue-bg: #105cb0;
$common-gray-bg:  #777777;
$header-bg: #eaeaea;
$header-text-color: #333333;
$breadCrumb-gray: #6c757d;
$border-color: rgba(227, 211, 211, 0.4);
$catalog-bg: #01579b;
$progress-bar-bg: #3555b5;
$progress-bar-color: #f2f2f2;
$btn-primary-bg: #105cb0;
$btn-primary-hover-color: #105cb0;
$btn-primary-disabled-bg: #f3f3f3;
$btn-primary-disabled-font-color: #565656;

$btn-secondary-color: #004467;
$btn-secondary-bg-color: #00bdd2;
$btn-box-shadow: 0px 1px 7px #a0a0a7;
$btn-secondary-hover-color-bg: #9ddee8;
$btn-secondary-disabled-bg: #ffffff;
$btn-secondary-disabled-font-color: #3b3b3b;
$font-roboto: "Roboto";
$common-font-size: 1em;
$normal-button-box-shadow-color: #c7c7c7;
$normal-button-box-shadow-color-hover: #d4d4d4;
$raw-bg-color: #105cb0;
$staged-bg-color: #ffa500;
$processed-bg-color: #418532;

$ddr-border-color: #c7c7c7;
$ddr-padding: 7px;
$placeholder-color: #c7c7c7;
$data-grid-header-filter-color: #dddddd;
